In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import KNNImputer

In [4]:
df = pd.read_csv('housing.csv')
print(df.head)

<bound method NDFrame.head of        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]>

In [5]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [6]:
print(df.isna().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [7]:
print(df['total_bedrooms'].describe())

count    20433.000000
mean       537.870553
std        421.385070
min          1.000000
25%        296.000000
50%        435.000000
75%        647.000000
max       6445.000000
Name: total_bedrooms, dtype: float64

In [8]:
print(df['total_bedrooms'].mean())

537.8705525375618

In [10]:
print(df.replace({'total_bedrooms':np.nan},   df['total_bedrooms'].mean(), inplace=True))

None

In [11]:
print(df['total_bedrooms'].isna().sum())

0

In [12]:
df = pd.get_dummies(data=df,  columns=['ocean_proximity'])

In [13]:
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value  \
0       322.0       126.0         8.3252            452600.0
1      2401.0      1138.0         8.3014            358500.0
2       496.0       177.0         7.2574            352100.0
3       558.0       219.0         5.6431            341300.0
4       565.0       259.0         3.8462            342200.0

   ocean_proximity_<1H OCEAN  ocean_proximity_INLAND  ocean_proximity_ISLAND  \
0                          0                       0                       0
1                          0                       0                       0
2                          0                       0                       0
3                          0                       0                       0
4                          0                       0                       0

   ocean_proximity_NEAR BAY  ocean_proximity_NEAR OCEAN
0                         1                           0
1                         1                           0
2                         1                           0
3                         1                           0
4                         1                           0

In [15]:
print(df.drop(['population'],axis=1 ,  inplace=True))

None

In [22]:
for c in df.columns:
    m = df[c].mean()
    print(m)

-119.56970445736432
35.63186143410853
28.639486434108527
2635.7630813953488
537.8705525375617
499.5396802325581
3.8706710029069766
206855.81690891474
0.44263565891472867
0.31739341085271316
0.00024224806201550387
0.11094961240310078
4.4064665783572104e-17

In [18]:
standard = df[c].std()

In [19]:
 print(standard)

0.3349633666924318

In [23]:
df[c] = (df[c] -m)/ standard
print(df[c])

0       -1.147759
1       -1.147759
2       -1.147759
3       -1.147759
4       -1.147759
           ...
20635   -1.147759
20636   -1.147759
20637   -1.147759
20638   -1.147759
20639   -1.147759
Name: ocean_proximity_NEAR OCEAN, Length: 20640, dtype: float64